# Dependencies
node_modules/

# Build
dist/
*.tsbuildinfo

# Tooling
.nx/

# Environment
.env
.env*.local

# IDE & Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Logs
*.log
